<h1> <%= title %> </h1>

<form method="post" action="<%= req.baseUrl + "/" %>">

<input name="username" placeholder="username" />
<input name="password" type="password" placeholder="password" />
<input type="submit" value="Log in">

</form>